body {
  padding: 30px 15px;
  background-color: rgb(126 182 182);
}

.wrap-form {
}
.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-bottom: 30px;
}

.search-form > input {
  line-height: 1;
  font-size: 16px;
  padding: 5px;
}

.btn {
  cursor: pointer;
  border: none;
  color: rgb(50, 12, 94);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 5px 20px;
  background-color: rgb(113, 150, 244);
  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.btn:is(:hover) {
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05);
  background-color: rgb(0, 33, 217);
  color: rgb(0, 255, 128);
}
